---
import "../styles/main.css"
import { resolvedConfig } from "virtual:astro-cms/resolved-config"

console.dir(resolvedConfig, { depth: null })

export const prerender = false;
---
<h1 class="text-3xl font-bold">Index</h1>