---
import "../styles/main.css"
import { resolvedConfig, foo } from "virtual:astro-cms/resolved-config"

console.log({ foo })
console.dir(resolvedConfig, { depth: null })
---
<h1 class="text-3xl font-bold">Index</h1>